<%= render partial: 'imports/imports/header', locals: {import: @import} %>

<h2>
  New Export

  <%= link_to [@import, :exports], class: 'pull-right btn btn-default' do %>
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
  <% end %>
</h2>
<hr/>

<%= render 'form', export: @export %>
