<h2>
  New Import
  <%= link_to imports_imports_path, class: 'pull-right' do %>
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
  <% end %>
</h2>
<hr/>

<%= render 'form', imports_import: @imports_import %>
